<!DOCTYPE html>

<html>

<head>
  {% load static %}
  <img src="{{static}}1.jpg" alt="Hi!" />

</head>


<body>
 Hi, this is a creation order page!

 {% for e in form.non_field_errors %}
   <div>{{e}} </div>
 {% endfor  %}

<form method="post">
  <fieldset> 
   {% for field in form %}
     <div>
      {{field.label}}
      {{field}}
     </div>
   
     {% if field.errors %}
       <div>{{field.errors}} </div>
     {% endif %}

   {% endfor %}
  </fieldset>

  <div>
   <button type="submit">Создать заказ</button>
   <button type="submit">Спам</button>
   <button type="submit">Отказ</button>  
  </div>

  {% csrf_token %}
</form>

</body>

</html>
