<!DOCTYPE html>

{% extends "main.html" %}

<html>
	
<head>

	{% block head %}
		{{block.super}}
	{% endblock %}

</head>


<body>
	{% block nav %}
		{{block.super}}
	{% endblock %}

	{% block content %}
		{% for field in form %}
			{% if field.errors %}
				<div class="row">
					<div class='col-sm-2 bg-danger'>{{field.label}}</div>
					<div class='col-sm-2 bg-danger'>{{field.errors}}</div>     
				</div>
			{% endif %}
		{% endfor %}
		<div class="container-fluid">
			<form method="post">
			<h2>Список заказов для выгрузки</h2>
			<button class="btn-link" type="download" name="download">Выгрузить в CSV файл</button>
			<table class="table table-striped table-hover table-bordered table-condensend">
				 <thead>
					<tr>
						<th>Номер заказа</th>
						<th>Номер клиента</th>
						<th>Cтатус</th>
						<th>Сайт</th>
						<th>Менеджер</th>
						<th>Дата закрытия</th>
						<th>Имя</th>
						<th>Фамилия</th>
						<th>Отчество</th>

						<th>Тел1</th>
						<th>Тел2</th>
						<th>Тел3</th>
						<th>email1</th>
						<th>email2</th>
						<th>должность</th>
						<th>город</th>
						<th>адрес</th>
						<th>компания</th>
						<th>ЛК</th>

						
						<th>Комментарий</th>
					</tr>
				 </thead>
				 
				 <tbody>
					{% for orderId, clientId, status, call_or_email, manager, changedOn, firstName, lastName, middleName, tel1, tel2, tel3, email1, email2, position, city, address, company_name,  cabinet, step_description in orders_list%}
						<tr>
							<td>{{orderId}}</td>
							<td>{{clientId}}</td>
							<td>{{status}}</td>
							<td>{{call_or_email}}</td>
							<td>{{manager}}</td>
							<td>{{changedOn}}</td>
							
							<td>{{firstName}}</td>
							<td>{{lastName}}</td>
							<td>{{middleName}}</td>

							<td>{{tel1}}</td>
							<td>{{tel2}}</td>
							<td>{{tel3}}</td>
							<td>{{email1}}</td>
							<td>{{email2}}</td>
							<td>{{position}}</td>
							
							<td>{{city}}</td>
							<td>{{address}}</td>
							<td>{{company_name}}</td>
							<td>{{cabinet}}</td>
							
							<td>{{step_description}}</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
			
			{% csrf_token %}
			</form>

		</div> 
	{% endblock %}

</body>	 
</html>
