<!DOCTYPE html>
{% extends "main.html" %}
<html lang="ru">

	<head>
		{% block head %}
			{{block.super}}
		{% endblock %}
	</head>

	<body>
		{% block nav %}
			{{block.super}}
		{% endblock %}
		{% block content %}
		<div class="container-fluid">
			{% for e in form.non_field_errors %}
				<div> {{e}} </div>
			{% endfor  %}

		
			<form method="post">
				<legend>
					<div class="form-inline">
						<label for="id_clientId">Реквизиты для Клиента</label>
						<a href="{% url 'client' clientId=form.clientId.value %}"><input class='form-control' name='clientId' id='id_clientId' value='{{form.clientId.value}}' size='10' readonly></a>
					</div>
				</legend>
				
					<div class='row'>
						<div class='form-group col-sm-2'>
							<label for='id_city'>{{form.city.label}}</label>
							<input class='form-control' name='city' id='id_city' placeholder='Город' value='{{form.city.value}}' type='text'>
						</div>
					</div>
					
					<div class='row'>
						<div class='form-group col-sm-2'>
							<label for='id_address'>{{form.address.label}}</label>
							<input class='form-control' name='address' id='id_address' placeholder='Адрес' value='{{form.address.value}}' type='text'>
						</div>
					</div>
					
					<div class='row'>
						<div class='form-group col-sm-2'>
							<label for='id_company_name'>{{form.company_name.label}}</label>
							<input class='form-control' name='company_name' id='id_company_name'  placeholder='Компания' value='{{form.company_name.value}}' type='text'>
						</div>
					</div>
					
					<button class='btn btn-primary' type='submit'>Сохранить</button>
					
					<p>&nbsp;</p>
					{% for field in form %}
						{% if field.errors %}
							<div class="row">
								<div class='col-sm-2 bg-danger'>{{field.label}}</div>
								<div class='col-sm-2 bg-danger'>{{field.errors}}</div>     
							</div>
						{% endif %}
					{% endfor %}
				
					
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					
					<div class='row'>
						<div class='form-group col-sm-2'>
							<label for='id_author'>{{form.author.label}}</label>
							<input class='form-control' name='author' id='id_author'  type='text' value='{{form.author.value}}' readonly>
						</div>
						
						<div class='form-group col-sm-2'>
							<label for='id_changedOn'>{{form.changedOn.label}}</label>		 
							<input class='form-control' name='changedOn' id='id_changedOn' value='{{form.changedOn.value}}' type='date' readonly>
						</div>
						
					</div>
				
					
					
					
					{% csrf_token %}

			</form>
			
			<div class="col-sm-1 invisible">
				{{form.legal_details_id}}
			</div>

		</div>
		{% endblock %}
	</body>
	
</html>
