<!DOCTYPE html>


<html lang='ru'>

	<head>
		{% block head %}
			{%load static%}
			<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type='text/css' />
			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
			
			<!-- Include all compiled plugins (below), or include individual files as needed -->
			<script src="{% static 'js/bootstrap.min.js' %}"></script>
			
			<meta name="viewport" content="width=device-width, initial-scale=1">
		{% endblock %}
	</head>	
	
 

	<body>
		{% block nav %}
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					
	
					
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href='/'> 
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						</a>
					</div>
	
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href='/new_client/'>Создать клиента</a></li>
							<li><a href='/orders_list/1/'>Заказы</a></li>
							<li><a href='/clients_by_persons/1/'>Контакты</a></li>
							<li><a href='/clients_by_legal_details/1/'>Реквизиты</a></li>
							<li><a href='/clients_by_LK/1/'>ЛК</a></li>
							<li><a href='/reports'>Отчеты</a></li>
							<li><a href='/logout/'>Выход</a></li>
						</ul>
					</div>
				</div>
			</nav>
		{% endblock %}
		
		
		{% block content %}
		<div class="container-fluid">
			<div class='row'>
				<div class='col-sm-2'>
					<p class="bg-primary text-center">Количество заказов: <strong>{{total_number}}</strong></p>
					<p class="bg-danger text-center">Конверсия заказов: <strong>{{conversion_rate}}</strong></p>
				</div>
				

				

		
				<div class="col-sm-2">
					<p class="bg-primary text-center">Воронка продаж</p>
					<table class="table table-condensed table-hover table-striped">
						
						<tr>
							<td>Заинтересованность</td> 
							<td class="text-right"><strong><a href="/orders_list/1/?status=INTS">{{ints_number}}</a></strong></td>
						</tr>
						
						<tr>
							<td>Оценка</td>
							<td class="text-right"><strong><a href="/orders_list/1/?status=EVAL">{{eval_number}}</a></strong></td>
						</tr>
						
						<tr class="warning">
							<td>Подготовка предложения</td>
							<td class="text-right"><strong><a href="/orders_list/1/?status=OFER">{{ofer_number}}</a></strong></td>
						</tr>
						
						<tr>
							<td>В ожидании</td>
							<td class="text-right"><strong><a href="/orders_list/1/?status=WAIT">{{wait_number}}</a></strong></td>
						</tr>
						
						<tr class="warning">
							<td>Выполняются</td>
							<td class="text-right"><strong><a href="/orders_list/1/?status=PROC">{{proc_number}}</a></strong></td>
						</tr>
						
						<tr>
							<td>Доставка</td> 
							<td class="text-right"><strong><a href="/orders_list/1/?status=DVLR">{{dvlr_number}}</a></strong></td>
						</tr>
						
						<tr class="success">
							<td >Выполнено</td>
							<td class="text-right"><strong><a href="/orders_list/1/?status=DONE">{{done_number}}</a></strong></td>
						</tr>
						
						<tr class="danger">
							<td >Отказы</td>
							<td class="text-right"><strong><a href="/orders_list/1/?status=FAIL">{{fail_number}}</a></strong></td>
						</tr>
					</table>
				</div>
				
				<div class="col-sm-2">
					<table class="table table-condensed table-hover table-striped">
						<p class="bg-primary text-center">Заказы за последние 7 дней</p>
						<thead>
							<tr>
								<th>Дата</th>
								<th class="text-right">Заказы</th>
							</tr>
						</thead>
						<tbody>
							{% for date, number in week_analytics %}
							<tr>
								<td>{{date|date:"d.m.Y"}}</td>
								<td class="text-right"><strong><a href="/orders_list/1/?orderDateEnd={{date}}&orderDateBegin={{date}}">{{number}}</a></strong></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

		
				
			</div>
		</div>
		{% endblock %}
	</body>

</html>
 
