<!DOCTYPE html>

{% extends "main.html" %}

<html>
	
<head>

	{% block head %}
		{{block.super}}
	{% endblock %}

</head>


<body>
	{% block nav %}
		{{block.super}}
	{% endblock %}
	{% block content %}
	{% for field in form %}
		{% if field.errors %}
			<div class="row">
				<div class='col-sm-2 bg-danger'>{{field.label}}</div>
				<div class='col-sm-2 bg-danger'>{{field.errors}}</div>     
			</div>
		{% endif %}
	{% endfor %}
	 <div class="container-fluid">
	
	 
		<form method="post">
			{% for e in form.non_field_errors %}
				<div> {{e}} </div>
			{% endfor  %}
				
	
			<div class='row'>
				<div class='form-group col-sm-2'>
					<label for='id_orderDateBegin'>{{form.orderDateBegin.label}}</label>
					<input class="form-control" id="id_orderDateBegin" name="orderDateBegin" value='{{form.orderDateBegin.value}}' type="date">
				</div>
				
				<div class='form-group col-sm-2'>
					<label for='id_orderDateEnd'>{{form.orderDateEnd.label}}</label>
					<input class="form-control" id="id_orderDateEnd" name="orderDateEnd" value='{{form.orderDateEnd.value}}' type="date">
				</div>
				
				
				<div class='form-group col-sm-2'>
					<label for='id_group_by'>{{form.group_by.label}}</label>
						<select class='form-control' name ='group_by' id='id_group_by'>
							<option value='DAY'>День</option>
							<option value="MONTH" {% if form.group_by.value == 'MONTH'%}selected{% endif %}>Месяц</option>
							<option value="YEAR" {% if form.group_by.value == 'YEAR'%}selected{% endif %}>Год</option>
						</select>
				</div>
				
				<div class='form-group col-sm-2'>
					<label for='id_status'>{{form.status.label}}</label>
					<select class='form-control' name ='status' id='id_status'>
						<option value='all'>Все</option>
							<option value="INTS" {% if form.status.value == 'INTS'%}selected{% endif %}>Заинтересованность</option>
							<option value="EVAL" {% if form.status.value == 'EVAL'%}selected{% endif %}>Оценка</option>
							<option value="OFER" {% if form.status.value == 'OFER'%}selected{% endif %}>Подготовка предложения</option>
							<option value="WAIT" {% if form.status.value == 'WAIT'%}selected{% endif %}>Ожидание решения клиента</option>
							<option value="DVLR" {% if form.status.value == 'DVLR'%}selected{% endif %}>Доставка</option>
							<option value="PROC" {% if form.status.value == 'PROC'%}selected{% endif %}>Выполнение заказа</option>
							<option value="DONE" {% if form.status.value == 'DONE'%}selected{% endif %}>Заказ выполнен</option>
							<option value="FAIL" {% if form.status.value == 'FAIL'%}selected{% endif %}>Отказ</option>
						</select>
				</div>

				<div class='form-group col-sm-2'>
					<label for='id_manager'>{{form.manager.label}}</label>
					<select class='form-control' name="manager" id='id_manager'>
						<option value='all'>Все</option>
						{% for user in users %}
							<option value="{{user.username}}" {% if user.username == form.manager.value %}selected{% endif%}>{{user.username}}</option>
						{% endfor %}
					</select>
				</div>

			</div>
	
	

			
			<button class="btn btn-primary" type="submit">Применить фильтр</button>
			<p>&nbsp;</p>


			
			<table class="table table-striped table-hover table-bordered table-condensend">
				 <caption><strong>Строк в отчете: {{paginator.count}}.</strong></caption>
	
				 <thead>
				 <tr>
						<th>Период</th>
						<th>Новые заказы Glazok</th>
						<th>Новые заказы Glazok (выполнены)</th>
						<th>Новые заказы Glazok (отказы)</th>
						<th>Новые заказы Manggis</th>
						<th>Новые заказы Manggis (выполнены)</th>
						<th>Новые заказы Manggis (отказы)</th>
						<th>Повторные заказы Glazok</th>
						<th>Повторные заказы Manggis</th>
						<th>Итого за период</th>
				 </tr>
				 </thead>
				 
				 <tbody>
					{% for orderDateBegin_link, Glazok_numbers, Manggis_numbers, Glazok_numbers_DONE, Glazok_numbers_FAIL, Manggis_numbers_DONE, Manggis_numbers_FAIL, Glazok_old_client_numbers, Manggis_old_client_numbers, total, orderDateEnd_link in page.object_list %}
					<tr>
						{%if form.group_by.value == "DAY"%}
							<td>{{orderDateBegin_link|date:"d.m.Y, D"}}</td>
						{%elif form.group_by.value == "MONTH"%}
							<td>{{orderDateBegin_link|date:"Y, F"}}</td>
						{%else%}
							<td>{{orderDateBegin_link|date:"Y"}}</td>
						{%endif%}

							<td><a href="/orders_list/1/?orderDateEnd={{orderDateEnd_link|date:'Y-m-d'}}&orderDateBegin={{orderDateBegin_link|date:'Y-m-d'}}&manager={{form.manager.value}}&status={{form.status.value}}&call_or_email=Glazok&client_addedAtBegin={{orderDateBegin_link|date:'Y-m-d'}}&client_addedAtEnd={{orderDateEnd_link|date:'Y-m-d'}}&is_client_new_or_regular=new">{{Glazok_numbers}}</a></td>
							<td><a href="/orders_list/1/?orderDateEnd={{orderDateEnd_link|date:'Y-m-d'}}&orderDateBegin={{orderDateBegin_link|date:'Y-m-d'}}&manager={{form.manager.value}}&status=DONE&call_or_email=Glazok&client_addedAtBegin={{orderDateBegin_link|date:'Y-m-d'}}&client_addedAtEnd={{orderDateEnd_link|date:'Y-m-d'}}&is_client_new_or_regular=new">{{Glazok_numbers_DONE}}</a></td>
							<td><a href="/orders_list/1/?orderDateEnd={{orderDateEnd_link|date:'Y-m-d'}}&orderDateBegin={{orderDateBegin_link|date:'Y-m-d'}}&manager={{form.manager.value}}&status=FAIL&call_or_email=Glazok&client_addedAtBegin={{orderDateBegin_link|date:'Y-m-d'}}&client_addedAtEnd={{orderDateEnd_link|date:'Y-m-d'}}&is_client_new_or_regular=new">{{Glazok_numbers_FAIL}}</a></td>
							<td><a href="/orders_list/1/?orderDateEnd={{orderDateEnd_link|date:'Y-m-d'}}&orderDateBegin={{orderDateBegin_link|date:'Y-m-d'}}&manager={{form.manager.value}}&status={{form.status.value}}&call_or_email=Manggis&client_addedAtBegin={{orderDateBegin_link|date:'Y-m-d'}}&client_addedAtEnd={{orderDateEnd_link|date:'Y-m-d'}}&is_client_new_or_regular=new">{{Manggis_numbers}}</a></td>
							<td><a href="/orders_list/1/?orderDateEnd={{orderDateEnd_link|date:'Y-m-d'}}&orderDateBegin={{orderDateBegin_link|date:'Y-m-d'}}&manager={{form.manager.value}}&status=DONE&call_or_email=Manggis&client_addedAtBegin={{orderDateBegin_link|date:'Y-m-d'}}&client_addedAtEnd={{orderDateEnd_link|date:'Y-m-d'}}&is_client_new_or_regular=new">{{Manggis_numbers_DONE}}</a></td>
							<td><a href="/orders_list/1/?orderDateEnd={{orderDateEnd_link|date:'Y-m-d'}}&orderDateBegin={{orderDateBegin_link|date:'Y-m-d'}}&manager={{form.manager.value}}&status=FAIL&call_or_email=Manggis&client_addedAtBegin={{orderDateBegin_link|date:'Y-m-d'}}&client_addedAtEnd={{orderDateEnd_link|date:'Y-m-d'}}&is_client_new_or_regular=new">{{Manggis_numbers_FAIL}}</a></td>
							<td><a href="/orders_list/1/?orderDateEnd={{orderDateEnd_link|date:'Y-m-d'}}&orderDateBegin={{orderDateBegin_link|date:'Y-m-d'}}&manager={{form.manager.value}}&status={{form.status.value}}&call_or_email=Glazok&client_addedAtBegin=2011-01-01&client_addedAtEnd={{orderDateEnd_link|date:'Y-m-d'}}&is_client_new_or_regular=regular">{{Glazok_old_client_numbers}}</a></td>
							<td><a href="/orders_list/1/?orderDateEnd={{orderDateEnd_link|date:'Y-m-d'}}&orderDateBegin={{orderDateBegin_link|date:'Y-m-d'}}&manager={{form.manager.value}}&status={{form.status.value}}&call_or_email=Manggis&client_addedAtBegin=2011-01-01&client_addedAtEnd={{orderDateEnd_link|date:'Y-m-d'}}&is_client_new_or_regular=regular">{{Manggis_old_client_numbers}}</a></td>
							<td><a href="/orders_list/1/?orderDateEnd={{orderDateEnd_link|date:'Y-m-d'}}&orderDateBegin={{orderDateBegin_link|date:'Y-m-d'}}&manager={{form.manager.value}}&status={{form.status.value}}">{{total}}</a></td>
							

				    </tr>
					{% endfor %}
			      </tbody> 
			 </table>
			{% csrf_token %}
		</form>
	
			  <ul class="pagination">
				 {% if left_offset > 1 %}  
			
	
					<li><a href="/report_orders/1/?status={{form.status.value}}&orderDateEnd={{form.orderDateEnd.value}}&orderDateBegin={{form.orderDateBegin.value}}&manager={{form.manager.value}}&group_by={{form.group_by.value}}">{{pg}}   <<  </a></li>
	
				 {% endif %} 
			
			     {% for pg in display_range %}    
			         
			
					    {% if pg == page.number %}
					      <li class="active">
			     	    {% else %}
				 	      <li>
					    {% endif %}
	
				           <a href="/report_orders/{{pg}}/?status={{form.status.value}}&orderDateEnd={{form.orderDateEnd.value}}&orderDateBegin={{form.orderDateBegin.value}}&manager={{form.manager.value}}&group_by={{form.group_by.value}}">{{pg}}</a>
	
				          </li>
			   
				 {% endfor %}
			
			
			     
			     {% if right_offset < paginator.num_pages %}
	
				          <li><a href="/report_orders/{{paginator.num_pages}}/?status={{form.status.value}}&orderDateEnd={{form.orderDateEnd.value}}&orderDateBegin={{form.orderDateBegin.value}}&manager={{form.manager.value}}&group_by={{form.group_by.value}}">{{pg}}  >> </a></li>
	
			     {% endif %} 			  
			  </ul>     
	
	  </div> 
  {% endblock %}
</body>	 
</html>
